In [4]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("D:/Deebi/sample_airbnb.json")

In [3]:
df.shape

(5555, 42)

In [4]:
df['images'] = df['images'].apply(lambda i:i['picture_url'])

In [5]:
df['host_id'] = df['host'].apply(lambda i:i['host_id'])
df['host_name'] = df['host'].apply(lambda i:i['host_name'])
df['host_location'] = df['host'].apply(lambda i:i['host_location'])
df['host_neighbourhood'] = df['host'].apply(lambda i:i['host_neighbourhood'])
df['host_is_superhost'] = df['host'].apply(lambda i:i['host_is_superhost'])
df['host_listings_count'] = df['host'].apply(lambda i:i['host_listings_count'])
df['host_verifications'] = df['host'].apply(lambda i:i['host_verifications'])

In [6]:
df['street'] = df['address'].apply(lambda i:i['street'])
df['suburb'] = df['address'].apply(lambda i:i['suburb'])
df['government_area'] = df['address'].apply(lambda i:i['government_area'])
df['market'] = df['address'].apply(lambda i:i['market'])
df['country'] = df['address'].apply(lambda i:i['country'])
df['country_code'] = df['address'].apply(lambda i:i['country_code'])
df['latitude'] = df['address'].apply(lambda i:i['location']['coordinates'][0])
df['longitude'] = df['address'].apply(lambda i:i['location']['coordinates'][1])
df['is_location_exact'] = df['address'].apply(lambda i:i['location']['is_location_exact'])

In [7]:
df['availability_30'] = df['availability'].apply(lambda i:i['availability_30'])
df['availability_60'] = df['availability'].apply(lambda i:i['availability_60'])
df['availability_90'] = df['availability'].apply(lambda i:i['availability_90'])
df['availability_365'] = df['availability'].apply(lambda i:i['availability_365'])

In [8]:
df['review_scores'] = df['review_scores'].apply(lambda i: i.get('review_scores_rating', 0) if i else 0)

In [9]:
df["market"] = df['market'].apply(lambda i:i if i else "Others")
df["market"].unique()

array(['New York', 'Istanbul', 'Hong Kong', 'Sydney', 'Porto',
       'Rio De Janeiro', 'Montreal', 'Barcelona', 'Oahu',
       'The Big Island', 'Maui', 'Kauai', 'Others', 'Other (Domestic)',
       'Other (International)'], dtype=object)

In [10]:
pd.set_option("display.max_columns",None)
df.head()
df.columns

Index(['_id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'last_scraped', 'calendar_last_scraped', 'first_review', 'last_review',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'guests_included', 'images', 'host', 'address',
       'availability', 'review_scores', 'reviews', 'weekly_price',
       'monthly_price', 'reviews_per_month', 'host_id', 'host_name',
       'host_location', 'host_neighbourhood', 'host_is_superhost',
       'host_listings_count', 'host_verifications', 'street', 'suburb',
       'government_area', 'market', 'country', 'country_code', 'latitude',
       'longitude', 'is_location_exact', 'availability_30', 'availability_60',
       'availability_90', 'availability_365'],
      dtype='object')

In [11]:
df.drop(columns = ['summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction','house_rules','last_scraped', 'calendar_last_scraped', 'first_review', 'last_review','host', 'address',
       'availability','reviews', 'weekly_price','monthly_price', 'reviews_per_month','security_deposit'],axis=1,inplace=True)

In [12]:
df.isna().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
amenities                 0
price                     0
cleaning_fee           1531
extra_people              0
guests_included           0
images                    0
review_scores             0
host_id                   0
host_name                 0
host_location             0
host_neighbourhood        0
host_is_superhost         0
host_listings_count       0
host_verifications        0
street                    0
suburb                    0
government_area           0
market                    0
country                   0
country_code              0
latitude                  0
longitude                 0
is_location_exact         0
availability_30           0
availability_60           0
availability_90           0
availability_365          0
dtype: int64

In [13]:
df['bedrooms'].fillna(0, inplace=True)
df['beds'].fillna(0, inplace=True)
df['bathrooms'].fillna(0, inplace=True)
df['cleaning_fee'].fillna('Not Specified', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17032\463633209.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(0, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_17032\463633209.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beds'].fillna(0, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_17032\463633209.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bathrooms'].fillna(0, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_17032\463633209.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cleaning_fee'].fillna('Not Specified', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_17032\463633209.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['cleaning_fee'].fillna('Not Specified', inplace=True)

In [14]:
df.isna().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
amenities              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
images                 0
review_scores          0
host_id                0
host_name              0
host_location          0
host_neighbourhood     0
host_is_superhost      0
host_listings_count    0
host_verifications     0
street                 0
suburb                 0
government_area        0
market                 0
country                0
country_code           0
latitude               0
longitude              0
is_location_exact      0
availability_30        0
availability_60        0
availability_90        0
availability_365       0
dtype: int64

In [15]:
df['amenities'] = df['amenities'].apply(lambda i: str(i) if i else 'None')
df['host_verifications'] = df['host_verifications'].apply(lambda i: str(i) if i else 'None')
df['host_neighbourhood'] = df['host_neighbourhood'].apply(lambda i: str(i) if i else 'Not Specified')

In [16]:
df.duplicated().sum()

np.int64(0)

In [17]:
df.dtypes

_id                      int64
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int64
maximum_nights           int64
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms              float64
amenities               object
price                    int64
cleaning_fee            object
extra_people             int64
guests_included          int64
images                  object
review_scores            int64
host_id                 object
host_name               object
host_location           object
host_neighbourhood      object
host_is_superhost         bool
host_listings_count      int64
host_verifications      object
street                  object
suburb                  object
government_area         object
market                  object
country                 object
country_code            object
latitude               float64
longitude              float64
is_location_exact         bool
availability_30          int64
availability_60          int64
availability_90          int64
availability_365         int64
dtype: object

In [18]:
df['host_is_superhost'] = df['host_is_superhost'].map({False:'No',True:'Yes'})

df['bedrooms'] = df['bedrooms'].astype(int)
df['beds'] = df['beds'].astype(int)
df['review_scores'] = df['review_scores'].astype(int)
df['is_location_exact'] = df['is_location_exact'].map({False:'No',True:'Yes'})

In [20]:
df.to_csv('Airbnb.csv',index=False)

In [21]:
df["country"].unique()

array(['United States', 'Turkey', 'Hong Kong', 'Australia', 'Portugal',
       'Brazil', 'Canada', 'Spain', 'China'], dtype=object)

In [22]:
df.columns

Index(['_id', 'listing_url', 'name', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'cleaning_fee', 'extra_people', 'guests_included',
       'images', 'review_scores', 'host_id', 'host_name', 'host_location',
       'host_neighbourhood', 'host_is_superhost', 'host_listings_count',
       'host_verifications', 'street', 'suburb', 'government_area', 'market',
       'country', 'country_code', 'latitude', 'longitude', 'is_location_exact',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365'],
      dtype='object')

In [23]:
dd = {}
filtered_data = df[(df["country"] == "United States") & (df["market"] == "New York")]
filtered_data1 = filtered_data[filtered_data["availability_30"] != 0]
filtered_data1.count()

_id                    337
listing_url            337
name                   337
property_type          337
room_type              337
bed_type               337
minimum_nights         337
maximum_nights         337
cancellation_policy    337
accommodates           337
bedrooms               337
beds                   337
number_of_reviews      337
bathrooms              337
amenities              337
price                  337
cleaning_fee           337
extra_people           337
guests_included        337
images                 337
review_scores          337
host_id                337
host_name              337
host_location          337
host_neighbourhood     337
host_is_superhost      337
host_listings_count    337
host_verifications     337
street                 337
suburb                 337
government_area        337
market                 337
country                337
country_code           337
latitude               337
longitude              337
is_location_exact      337
availability_30        337
availability_60        337
availability_90        337
availability_365       337
dtype: int64

In [ ]:
!pip install streamlit

In [25]:
!streamlit --version

Streamlit, version 1.36.0

In [59]:
availability_data  = {}
df_1 = df[(df['country'] == "United States") & (df['market'] == "New York")]

df_availability_30 = df_1[df_1["availability_30"]!=0]
df_availability_60 = df_1[df_1["availability_60"]!=0]
df_availability_90 = df_1[df_1["availability_90"]!=0]
df_availability_365 = df_1[df_1["availability_365"]!=0]

availability_data ["availability_30"]=df_availability_30["availability_30"].count()
availability_data ["availability_60"]=df_availability_60["availability_60"].count()
availability_data ["availability_90"]=df_availability_90["availability_90"].count()
availability_data ["availability_365"]=df_availability_365["availability_365"].count()
availability_data

{'availability_30': np.int64(337),
 'availability_60': np.int64(358),
 'availability_90': np.int64(373),
 'availability_365': np.int64(398)}

In [60]:
df["property_type"].unique()

array(['Apartment', 'Bed and breakfast', 'Guesthouse', 'Hostel',
       'Serviced apartment', 'Loft', 'House', 'Condominium', 'Treehouse',
       'Guest suite', 'Bungalow', 'Townhouse', 'Villa', 'Cabin', 'Other',
       'Farm stay', 'Chalet', 'Boutique hotel', 'Cottage', 'Boat',
       'Earth house', 'Aparthotel', 'Resort', 'Tiny house',
       'Nature lodge', 'Hotel', 'Camper/RV', 'Casa particular (Cuba)',
       'Barn', 'Hut', 'Heritage hotel (India)', 'Pension (South Korea)',
       'Campsite', 'Castle', 'Houseboat', 'Train'], dtype=object)

In [65]:
df_1 = df[(df['country'] == "United States") & (df['market'] == "New York")]
df_1.groupby("property_type")[["_id"]].count().reset_index()

         property_type  _id
0           Aparthotel    1
1            Apartment  489
2          Condominium   19
3          Guest suite    2
4           Guesthouse    2
5               Hostel    1
6                House   47
7                 Loft   19
8                Other    1
9   Serviced apartment    1
10           Townhouse   24
11               Villa    1